@import "../../../../styles/colors/colors";


.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  max-height: 40rem;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $white;
  max-height: 50rem;
  width: 40rem;
  box-shadow: 10px 10px 10px $box-border;
  border-radius: 12px;
  padding: 1rem;
}

.container-searchbar {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}


.grid-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  max-height: 40rem;
}


.container-align-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-weather,
.container-location {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: hidden;
  margin-top: 2rem;
  align-items: center;

  @media (max-height: 500px) {
    font-size: 0.65rem;
    overflow-y: auto;
  }
}

p {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @media (max-width: 600px) {
    font-size: 0.65rem;
  }
}

.error-message {
  color: red;
}


.container-forecast {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.forecast-day {
  display: flex;
  align-items: center;
  background-color: $ligh-blue;
  border-radius: 8px;
  margin: 0.5rem;
  gap: 1rem;
}


mat-icon {
  display: inline-table;
}

.container-city {
  display: flex;
  gap: 0.5rem;
}